numpy
pandas
scikit-learn
matplotlib
seaborn
torch
torchvision
transformers
tokenizers
nltk
spacy
gensim
jupyter
pytest
flake8
black
dvc
mlflow
tensorflow
keras
python-box
pyYAML
tqdm
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
beautifulsoup4
requests
huggingface-hub
textblob
